[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "piwheels"
url = "https://www.piwheels.org/simple"
verify_ssl = true

[packages]
brewblox-service = ">=0.15.0"
bluepy = "*"
pint = "*"
numpy = "*"

[dev-packages]
pytest-flake8 = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-aiohttp = "*"
asynctest = "*"
aioresponses = "*"
"flake8" = "*"
"autopep8" = "*"
brewblox-tools = "*"
pytest = "*"
pytest-sugar = "*"
click = "*"

[requires]
python_version = "3.7"
